<div class="container" id="resume">
    <div class="row" style="background-color: aquamarine;">
        <div class="col-sm-12" style="background-color: rgb(229, 231, 223);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="row" style="background-color: rgba(109, 139, 95, 0.432);">
                                <div class="col-sm-2">

                                    <img class="img-thumbnail" src="../../assets/images/4579.jpg" alt="" height="200px" class="rounded">
                                </div>
                                <div class="col-sm-5">
                                    <h1 style="font-style: italic;font-weight: bold;">Ramesh Chatty</h1>
                                     <small><span style="color: rgb(86, 149, 233);"><b>Sr. Software Engineer  | {{yearsOfExperience() | number : '1.0-0'}}+ Years </b></span></small>  
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <!-- <small>Mobile</small> -->
                                            <span class="fa fa-phone fa-1x" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-sm-11">: <small style="font-style: italic;font-weight: bold;">+91 8801506437</small></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <span class="fa fa-envelope fa-1x" aria-hidden="true"></span>
                                            
                                        </div>
                                        <div class="col-sm-11">: <small style="font-style: italic;font-weight: bold;">RAMESHCHATTI@GMAIL.COM</small></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <span class="fa fa-address-card fa-1x" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-sm-11">: <small style="font-style: italic;font-weight: bold;">H.No: 1-5-342/2, P.No: 290,<br />
                                            Suryanagar Colony, Old Alwal,<br />
                                            Secunderabad, Pin-500010</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <h3 style="padding-top: 10px;"></h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Core Java</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Spring Boot Microservices</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Struts 1.x</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">JPA and Hibernate</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Soap and Rest</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Angular 10</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Javascript</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Jquery</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Css, Bootstrap</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">AWS</li>
                                                
                                            </ul>
        
    
                                        </div>
                                        <div class="col-sm-6">
    
                                            <ul>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Maven</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">GIT</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">MS-Sql workbench</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Eclipse/STS</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">VS Code</li>   
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Jenkins</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Putty</li>
                                                <li style="font-size: 10px;font-style: italic;font-weight: bold;">Postman and Soap Ui</li>
                                                
                                            </ul>
        
                                        </div>
                                    </div>
                                    
                                    
                                    

                                </div>

                                <div class="col-sm-1">
                                    <!-- <i class="fab fa-facebook"></i>linkedIn
                                    <span class="fab fa-facebook"></span> -->
                                    
                                    <div class="col-sm-12" style="padding-top: 10px;">
                                        <a href="https://www.linkedin.com/in/ramesh-chatty-477ba486/"  target="_new" title="Ramesh LinkedIn"> <span class="fa fa-linkedin-square fa-2x" aria-hidden="true"></span></a>
                                    </div>
                                    <div class="col-sm-12" style="padding-top: 10px;">
                                        <a href="https://github.com/RameshChatty"   target="_new" title="Git" > <span class="fa fa-git-square fa-2x" aria-hidden="true"></span></a>
                                    </div>
                                    <div class="col-sm-12"  style="padding-top: 10px;" >
                                        <a href="javascript:void(0)"  (click)="exportAsPDF('resume')" title="Download Resume"> <span class="fa fa-download fa-2x" aria-hidden="true"></span></a>
                                    </div>
                                                                    
                                    
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row" style="margin:10px;">
                    <div class="col-sm-8">
                        <h4><b>Work Experience</b></h4>
                        <div class="row">
                            <div class="col-sm-2">2018-2021</div>
                            <div class="col-sm-10">
                                <h3>Tech Mahindra</h3>
                                <small>Sr. Software Engineer</small>
                                <div class="row">
                                    <div class="col-sm-3"><small>Client</small></div>
                                    <div class="col-sm-9"><small><b>CRST International</b></small></div>
                                    <div class="col-sm-3"><small>Role</small></div>
                                    <div class="col-sm-9"><small><b>Java Fullstack developer</b></small></div>
                                    <div class="col-sm-3"><small>Techologies</small></div>
                                    <div class="col-sm-9"><small><b>JAVA-8,
                                        Spring Boot and Microservice,
                                        Hibernate,
                                        Angular,
                                        MS Sql,Maven, 
                                        Git</b>
                                    </small></div>
                                    
                                </div>
                            </div>   
                            <div class="col-sm-2">2016-2018</div>
                            <div class="col-sm-10">
                                <h3>Infosys Ltd</h3>
                                <small>Technology Analyst</small>
                                <div class="row">
                                    <div class="col-sm-3"><small>Client</small></div>
                                    <div class="col-sm-9"><small><b>Walmart</b></small></div>
                                    <div class="col-sm-3"><small>Role</small></div>
                                    <div class="col-sm-9"><small><b>Java Fullstack developer</b></small></div>
                                    <div class="col-sm-3"><small>Techologies</small></div>
                                    <div class="col-sm-9"><small><b>JAVA-8,
                                        Spring,
                                        Hibernate,
                                        AngularJs,
                                        MS Sql,Maven,
                                        Git, Devops</b>
                                    </small></div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-2">2014-2016</div>
                            <div class="col-sm-10">
                                <h3>Center For Good Governance</h3>
                                <small>Software developer</small>
                                <div class="row">
                                    <div class="col-sm-3"><small>Client</small></div>
                                    <div class="col-sm-9"><small><b>Govt. Of Telangana & AP</b></small></div>
                                    <div class="col-sm-3"><small>Role</small></div>
                                    <div class="col-sm-9"><small><b>Java Fullstack developer</b></small></div>
                                    <div class="col-sm-3"><small>Techologies</small></div>
                                    <div class="col-sm-9"><small><b>JAVA,
                                        Struts 1.2,
                                        JSP,
                                        Junit,
                                        postgresql,
                                        svn</b>
                                    </small></div>
                                    
                                </div>
                            </div>
                            <hr/>

                        </div>
                        <h4><b>Education</b></h4>
                        <div class="row">
                            <div class="col-sm-2">2010-2014</div>
                            <div class="col-sm-8">

                                <div><b>Jyothishmathi college of engineering & Technology</b></div>
                                <div><b><small>Electronics & Communication Engineering</small></b></div>
                            </div>
                            <div class="col-sm-2"><span class="badge rounded-pill ml-2 bg-200 text-primary">78.5%</span></div>

                            <div class="col-sm-2">2008-2010</div>
                            <div class="col-sm-8">

                                <div><b>Sri Chaitanya Jr. Kalasala (Alwal)</b></div>
                                <div><b><small>Maths, Physics and Chemistry</small></b></div>
                            </div>
                            <div class="col-sm-2"><span class="badge rounded-pill ml-2 bg-200 text-primary">83.6%</span></div>

                            <div class="col-sm-2">2008</div>
                            <div class="col-sm-8">

                                <div><b>Eve's High School</b></div>
                                <div><b><small>SSC</small></b></div>
                            </div>
                            <div class="col-sm-2"><span class="badge rounded-pill ml-2 bg-200 text-primary">82.1%</span></div>
                            
                        </div>


                    </div>
                    <div class="col-sm-4">
                        <h4><b>Software Skills</b></h4>
                        <div class="row">
                            <div class="card-body">
                                <div class="col-sm-12">
                                    <h4 class="small font-weight-bold">Java <span class="float-right">85%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="80" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4 class="small font-weight-bold">Spring and Spring boot  <span class="float-right">75%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4 class="small font-weight-bold">JPA & Hibernate<span class="float-right">75%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4 class="small font-weight-bold">Angular<span class="float-right">70%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4 class="small font-weight-bold">MS Sql, Postgresql<span class="float-right">70%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warn" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4 class="small font-weight-bold">Devops<span class="float-right">50%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                
                            </div>
                          
                                
                           
                        </div>
                        <h4><b>Languages</b></h4>
                        <div class="row">
                            <div class="card-body">
                            <div class="col-sm-12">
                                <h4 class="small font-weight-bold">English<span class="float-right">70%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warn" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="small font-weight-bold">Hindi<span class="float-right">60%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="small font-weight-bold">Telugu<span class="float-right">100%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>